/*resseting styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
    background-color: #ebe8e8;
}

/*Rightside page configuration*/

.rightside {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    border: 4px solid tomato;
}

.rightside .header {
    color: #2289ac;
    font: bold 65px bebas neue;
    /*border: 4px solid tomato;*/
    margin: 70px 300px 20px 100px;
}

.rightside .content {
    margin: 90px 150px 20px 100px;

}

.rightside .content h {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 25px;
}

.rightside .content p {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*Content list cleaning*/

.education-list, .education-list li,
.job-list, .job-list li,
.quality-list, .quality-list li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.education-list span, .job-list span, .quality-list li {
    text-transform: capitalize;
    font-weight: bold;
}

.education-list, .job-list, .quality-list {
    margin-top: 20px;
    margin-bottom: 50px;
}

/*Leftside page configuration*/

.leftside {
    display: inline-block;
    color: white;   
    background-color: #272627;
    width: 25%;
    height: 1311px;
}

/*Leftside componenets*/

.portrait img {
    border: 3px solid white;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 0%;
}

.leftside > div {
    margin: 0px 20px 60px 40px;
}

.leftside h {
    text-transform: uppercase;
    font: bold 30px bebas neue;
}

.contact, .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-left-list, .contact-left-list li, 
.contact-right-list, .contact-right-list li,
.info-left-list, .info-left-list li,
.info-right-list, .info-right-list li
.hobbies-list, .hobbies-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact, .info, .hobbie, .link {
    margin: 30px 0px 60px 0px;
    /*border: 1px solid tomato;*/
}

.contact-left-list li, .info-left-list li{
    font-weight: bold;
}

.link {
    border: 2px solid tomato;
    display: flex;
    justify-content: space-around;
}

.link span {
    cursor: pointer;
    font-size: 30px;
}

.leftside h::before {
    content: '\f006'; /*fa-star*/
    font-family: 'FontAwesome';
    font-size: 25px;
    /*float: left*/
    margin-right: 10px;
    color: white;
}
    
/*Bottomside page configuration*/

.bottom-side {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #86ABE9;
    font-family: bebas neue;
    font-size: 16px;
    font-weight: bold;
    border: 4px solid tomato;
    /*line-height: 2;*/
}


.contact-form {
    /*margin: 0 auto;*/
    text-align: left;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 5px;

    width: 80%;
    margin: 40px 0;
    padding: 20px 50px 40px 50px;
}

/*
.contact-form h1 {
  font-size: 30px;
  margin-bottom: 20px;
}*/