/*resseting styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
    border: 1px solid tomato;
}

.header {
    background-color: papayawhip;
    /*border: 1px solid tomato;*/
}

.content {
    background-color: lightgoldenrodyellow;
    /*border: 1px solid tomato;*/
}

.sidebar {
    background-color: lightblue;
    /*border: 1px solid tomato;*/
}

.footer {
    background-color: lightgreen;
    /*border: 1px solid tomato;*/
}