/*resseting styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
    background-color: #ebe8e8;
}

/*Rightside page configuration*/

.rightside {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    border: 4px solid tomato;
}

.rightside .header {
    color: #2289ac;
    font: bold 65px bebas neue;
    /*border: 4px solid tomato;*/
    margin: 70px 300px 20px 100px;
}

.rightside .content {
    margin: 90px 150px 20px 100px;

}

.rightside .content h {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 30px;
}

.rightside .content p {
    text-align: justify;
    margin-top: 20px;
}

/*Leftside page configuration*/

.leftside {
    display: inline-block;
    color: white;   
    background-color: #272627;
    width: 25%;
}

.portrait img {
    border: 3px solid white;
    margin-top: 40px;
    margin-left: 40px;
    /*border-radius: 50%;*/
}

.leftside > div {
    margin: 0px 20px 60px 40px;
}

.leftside h {
    text-transform: uppercase;
    font: bold 20px bebas neue;
}

.icon-list, .icon-list li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-list {
    margin-top: 30px;
    font-family: open sans;
}

.icon-list span {
    margin-right: 30px;
    font-weight: bold;
    font-size:  
}

.leftside h::before {
    content: '\f006'; /*fa-star*/
    font-family: 'FontAwesome';
    font-size: 15px;
    /*float: left*/
    margin-right: 10px;
    color: white;
}
    
/*
.icon-list li:before {
  content: '\f006'; /* fa-star
  font-family: 'FontAwesome';
  font-size: 15px;
  /*float: left
  margin-left: -1.5em;
  margin-right: 20px;
  color: white;
}*/

/*li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f058";
  color: green;
}*/

/*Bottomside page configuration*/

.bottomside {
    background-color: lightgreen;
    border: 4px solid tomato;
}